/* Global variables */
:root {
  /* Sizes */
  --max-height-full-screen: 1024px;
  --desktop-breakpoint: 1440px;
  --tablet-breakpoint: 768px;
  --mobile-breakpoint: 375px;

  /* Colors */

  /* misc */
  --full-height: 100%;
  --color-white: #fff;

  /* blue */
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  /* light */
  --dark-light-100: #f3f5fc;
  --dark-light-200: #eff1fa;
  --dark-light-300: #e9ecf8;
  --dark-light-400: #aab2d5;
  --dark-light-500: #757fb2;

  /* grey */
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
  /* Fonts */

  --font-caption: 12;
}

/* Global Rules */

body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  background-color: var(--dark-light-100);
  height: var(--full-height);
}
p {
  padding: 0px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.main {
  height: var(--full-height);
  background-color: var(--dark-light-100);
}

.hidden {
  display: none !important;
}
.show {
  display: block !important;
}

.box-text-area {
  font-family: "Inter", sans-serif;
  background-color: var(--dark-light-100);
}

.box-text-area::placeholder {
  color: var(--dark-blue-300);
}

.texto-encriptado {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: regular;
  line-height: 150%;
}

.btn {
  border-radius: 24px;
  border-width: 0px;
  width: 100%;
  text-align: center;
}
.btn-primary {
  background-color: var(--dark-blue-300);
  color: var(--color-white);
}

.btn-outlined {
  background-color: var(--dark-light-100);
  border-color: var(--dark-blue-300);
  border-width: 1px;
  color: var(--dark-blue-300);
}

.box-text-info {
  text-align: center;
  background-color: var(--color-white);
  border-radius: 32px;
  padding: 32px;
}

.text-info-label {
  font-family: "Inter", sans-serif;
  display: flex;
  align-self: stretch;
  font-weight: bold;
  color: var(--gray-500);
}
.text-description-caption {
  font-family: "Inter", sans-serif;
  color: var(--gray-400);
  text-align: center;
}

/* Icons */

.exclamation {
  width: 16px;
  height: 16px;
}

/* Desktop css */

@media (max-width: 1440px) {
  .main {
    max-width: var(--desktop-breakpoint);
    padding-bottom: 40px;
  }
}

/* Tablet css */
@media (max-width: 768px) {
  .main {
    max-width: var(--tablet-breakpoint);
  }
}

/* Mobile */
@media (max-width: 375px) {
  .main {
    max-width: var(--mobile-breakpoint);
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo {
    margin-bottom: 80px;
  }

  .box-text-area {
    min-height: 251px;
    max-width: var(--mobile-breakpoint);
    width: -webkit-fill-available;
    border-style: none;
    color: var(--dark-blue-300);
    line-height: 150%;
  }

  .wrap-text {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  .exclamation {
    width: 16px;
    height: 16px;
  }

  .section-buttons {
    margin-bottom: 64px;
  }

  .btn {
    height: 67px;
  }
  .btn-encriptar {
    margin-bottom: 24px;
  }

  .instructions {
    font-size: var(--font-caption);
    margin: 0 0 0 10px;
    width: 100%;
  }

  .text-info-label {
    font-size: 24px;
    text-align: center;
    line-height: 120%;
    margin-bottom: 16px;
  }
}
