/* Global variables */
:root {
  /* Sizes */
  --max-height-full-screen: 1024px;
  --desktop-breakpoint: 1440px;
  --tablet-breakpoint: 1439px;
  --mobile-breakpoint: 767px;

  /* Colors */

  /* misc */
  --full-height: 100%;
  --color-white: #fff;

  /* blue */
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  /* light */
  --dark-light-100: #f3f5fc;
  --dark-light-200: #eff1fa;
  --dark-light-300: #e9ecf8;
  --dark-light-400: #aab2d5;
  --dark-light-500: #757fb2;

  /* grey */
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
  /* Fonts */

  --font-caption: 12;
}

/* Global Rules */

body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  background-color: var(--dark-light-100);
  height: var(--full-height);
}
p {
  padding: 0px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.main {
  display: flex;
  flex-direction: row;
  height: var(--full-height);
  background-color: var(--dark-light-100);
  padding: 40px;
}

.logo {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.hidden {
  display: none !important;
}
.show {
  display: block !important;
}

.box-text-area {
  flex: 1;
  font-family: "Inter", sans-serif;
  background-color: var(--dark-light-100);
  border-style: none;
  color: var(--dark-blue-300);
  line-height: 150%;
  font-size: 32px;
}

.box-text-area::placeholder {
  color: var(--dark-blue-300);
}

.texto-encriptado {
  flex: 1;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.wrapper-section-text-and-buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 80px 0 240px;
}

.section-buttons {
  display: flex;
}

.section-buttons > .btn-primary {
  margin-right: 5%;
}

.btn {
  border-radius: 24px;
  border-width: 0px;
  min-width: 231px;
  height: 67px;
  width: 100%;
  text-align: center;
}
.btn-primary {
  background-color: var(--dark-blue-300);
  color: var(--color-white);
}

.btn-outlined {
  background-color: var(--dark-light-100);
  border-color: var(--dark-blue-300);
  border-width: 1px;
  color: var(--dark-blue-300);
}

.box-text-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 32px;
  padding: 32px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.text-info-label {
  font-family: "Inter", sans-serif;
  max-width: 232px;
  font-weight: bold;
  color: var(--gray-500);
  font-size: 24px;
  text-align: center;
  line-height: 120%;
  margin-bottom: 16px;
}
.text-description-caption {
  font-family: "Inter", sans-serif;
  color: var(--gray-400);
  text-align: center;
  max-width: 295px;
}

.wrap-text {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.instructions {
  font-size: var(--font-caption);
  margin: 0 0 0 10px;
  width: 100%;
}

/* Icons */

.exclamation {
  width: 16px;
  height: 16px;
}
.image-not-found {
  width: 336px;
  height: 304;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 31px;
}

/* Desktop css */

/* Tablet css */
@media (max-width: 1439px) {
  .main {
    max-width: var(--tablet-breakpoint);
    flex-direction: column;
    padding-top: 74px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .image-not-found {
    display: none;
  }
  .logo {
    margin-bottom: 116px;
    margin-left: 0;
    margin-top: 0;
  }
  .wrapper {
    flex-direction: column;
    padding-bottom: 35px;
  }
  .box-text-area {
    min-height: 308px;
    width: 100%;
  }
  .wrapper-section-text-and-buttons {
    padding: 0;
  }
  .section-buttons {
    display: flex;
    margin-bottom: 64px;
  }
  .section-buttons > .btn-primary {
    margin-right: 5%;
  }

  .texto-encriptado {
    padding-bottom: 32px;
    width: 100%;
  }

  .box-text-info {
    height: auto;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .main {
    max-width: var(--mobile-breakpoint);
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo {
    margin-bottom: 80px;
  }

  .box-text-area {
    min-height: 251px;
    max-width: var(--mobile-breakpoint);
    width: -webkit-fill-available;
    border-style: none;
    color: var(--dark-blue-300);
    line-height: 150%;
  }

  .exclamation {
    width: 16px;
    height: 16px;
  }

  .section-buttons {
  }

  .btn {
    height: 67px;
  }
  .btn-encriptar {
    margin-bottom: 24px;
  }

  .text-info-label {
    font-size: 24px;
    text-align: center;
    line-height: 120%;
    margin-bottom: 16px;
  }

  @media (max-width: 524px) {
    .section-buttons {
      flex-direction: column;
    }
  }
}
